


<body>
  <%- include("partial/header") %> 
    
    <div class="container-fluid colored-section" id="title">
   
    
  
        <!-- Title -->
     
        <div class="col-lg-12 col-sm-12 ">
         <h1 class="big-heading">India's Coolest Travel Community</h1>
         <input class="searchbar" type="text" placeholder="Where do you wanna go?...">
         <div class="row" style="margin: 70px 0 0 0;" >
           <div class="feature-box col-lg-4 col-sm-4 col-md-4">
             <i class="icon fa-regular fa-thumbs-up fa-4x"></i>
             <p> 500+ REVIEWS</p>
           </div>
     
           <div class="feature-box col-lg-4 col-sm-4 col-md-4">
             <i class="icon fa-regular fa-map fa-4x"></i>
             <p>120+ GROUP DEPARTURES</p>
           </div>
     
           <div class="feature-box col-lg-4 col-sm-4 col-md-4">
             <i class="icon fa-regular fa-heart fa-4x"></i>
             <p>2000 + HAPPY TRAVELLERS</p>
           </div>
       </div>
         
       </div>
     
     </div>
     
     <!-- Features -->
   
     <section class="colored-section" id="features" style="width: 100%;">
     
       <div class="container-fluid">
   
               <h2>Explore Travelogged</h2>
   
     
         
     
         <div class="row">
           <div class="feature-box col-lg-6 col-sm-6 col-md-6">
             <i class="icon fa-solid fa-car-side fa-4x"></i>
             <p>LADAKH & SPITI 2022</p>
           </div>
     
           <div class="feature-box col-lg-6 col-sm-6 col-md-6">
             <i class="icon fa-solid fa-suitcase-rolling fa-4x"></i> 
             <p>BACKPACKING TRIPS</p>
           </div>
     
           <div class="feature-box col-lg-6 col-sm-6 col-md-6">
             <i class="icon fa-solid fa-calendar-days fa-4x"></i>
             <p>WEEKEND TRIPS</p>
           </div>
     
           <div class="feature-box col-lg-6 col-sm-6 col-md-6">
             <i class="icon fa-solid fa-house fa-4x"></i>
             <p>WORKCATIONS STAYS</p>
           </div>
         </div>
       </div>
   </section>
   
     <!-- Upcoming Trips -->
   
     <section class="white-section" style="width: 100%">
     
     
         <h2>Upcoming Trips</h2>
     
         <div class="container">
           <div class="item-container">
               <div class="img-container">
                   <img src="images/kashmirtrip.jpg" alt="Event image">
               </div>
     
               <div class="body-container">
                   <div class="overlay"></div>
     
                   <div class="event-info">
                       <p class="title">Kashmir Winter Expedition</p>
                       <p class="price">₹25,999/-</p>
                       <p class="info">Srinagar</p>
                       <div class="separator"></div>
                       <p class="info">Srinagar</p>
                       <p class="price">₹25,999/-</p>
     
                       <div class="additional-info">
                           <p class="info">
                               <i class="fas fa-map-marker-alt"></i>
                               J&K, India
                           </p>
                           <p class="info">
                               <i class="far fa-calendar-alt"></i>
                               Sat, Sep 19, 10:00 AM EDT
                           </p>
     
                           <p class="info description">
                             Kashmir is & will always be the heaven on earth & for all the right reasons because, Travelling across this place is what dreams our off!
                             This is a trip that is the perfect balance between leisure & adventure. From enjoying shikara rides and houseboat accomodation on Dal lake in Srinagar to exploring off beat places like Aharbal waterfalls; 
                             Kashmir has it all! Also known as the Niagara Falls of Kashmir, the mighty strength of this fall is something to behold. <span>more...</span>
                           </p>
                       </div>
                   </div>
                   <button class="action">Book it</button>
               </div>
           </div>
     
           <div class="item-container">
               <div class="img-container">
                   <img src="images/meghalayatrip.jpg" alt="Event image">
               </div>
     
               <div class="body-container">
                   <div class="overlay"></div>
     
                   <div class="event-info">
                       <p class="title">Meghalaya Backpacking</p>
                       <div class="separator"></div>
                       <p class="info">Meghalaya</p>
                       <p class="price">₹21,999/-</p>
     
                       <div class="additional-info">
                           <p class="info">
                               <i class="fas fa-map-marker-alt"></i>
                               Meghalaya, India
                           </p>
                           <p class="info">
                               <i class="far fa-calendar-alt"></i>
                               Sat, Sep 19, 10:00 AM EDT
                           </p>
     
                           <p class="info description">
                             Meghalaya- A Potpourri of Beauty & Culture Confused about choosing your next travel destination? Wondering whether to go trekking in forests, or take a dip in blue lagoons or just relax by the beachside? What if we tell you there exists a magical land very much in India that offers all of these activities and many more without burning a hole in your pocket? Sounds dreamy, right?
                             Well, pinch yourself to reality because WanderOn is taking you all the way to the abode of clouds with our Meghalaya tour package! <span>more...</span>
                           </p>
                       </div>
                   </div>
                   <button class="action">Book it</button>
               </div>
           </div>
     
           <div class="item-container">
               <div class="img-container">
                   <img src="images/birkasoltrip.jpg" alt="Event image">
               </div>
     
               <div class="body-container">
                   <div class="overlay"></div>
     
                   <div class="event-info">
                       <p class="title">Bir Kasol Kheerganga</p>
                       <div class="separator"></div>
                       <p class="info">Himachal Pradesh</p>
                       <p class="price">₹15,999/-</p>
     
                       <div class="additional-info">
                           <p class="info">
                               <i class="fas fa-map-marker-alt"></i>
                               Himachal Pradesh, India
                           </p>
                           <p class="info">
                               <i class="far fa-calendar-alt"></i>
                               Sat, Sep 19, 10:00 AM EDT
                           </p>
     
                           <p class="info description">
                               Welcome! Everyone has a unique perspective after reading a book, and we would love you
                               to share yours with us! We meet one Sunday evening <span>more...</span>
                           </p>
                       </div>
                   </div>
                   <button class="action">Book it</button>
               </div>
           </div>
       </div>
   </section>
     
      <!-- Testimonials -->
     
      <section class="colored-section" id="testimonials">
     
       <div class="container-fluid">
     
         <div id="testimonial-carousel" class="carousel slide" data-ride="false">
           <div class="carousel-inner">
             <h2>What Others have to say About Us?</h2>
             <div class="carousel-item carousl active container-fluid">
               <p class="testimonial-text">
                 I visited Manali with Travelogged and God it was wonderful. It was my first solo trip with them. In this Budget, this level of service was unbeliveable. It would have happily paid double for it!!
                 <br>
                 The hotels, food, coordinator knowledge and interaction with everyone made it such a smooth and fun trip.
                 <br>
                 Thank You so much Travelogged.
               </p>
               <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
               <em style="color: black;">@parularora0922</em>
             </div>
             <div class="carousel-item carousl container-fluid">
               <p class="testimonial-text">
                 It was indeed one of the most wonderful experiences having my first trip with travelogged.in. Kedarnath was never that easy but these Guys made sure that we enjoy every each bit of it. Their Management and facilities were good. I would highly recommend and of course I am planning to travel with them super soon.
               </p>
               <img class="testimonial-image" src="images/angela.png" alt="lady-profile">
               <em style="color: black;">Beverly, Illinois</em>
             </div>
           </div>
           <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
         <span class="carousel-control-next-icon"></span>
           </a>
         </div>
       
       </section>
     
       
     
     <!-- Features -->
     
     <section class="white-section" id="Services">
     
       <div class="container-fluid" style="width: 85%">
     
         <h2>Travelogged Services</h2>
     
         <div class="row">
           <div class="feature-box col-lg-3 col-sm-12 col-md-12">
             <i class="icon ser fa-solid fa-people-group fa-4x"></i>
             <h2>No Third Party Mess</h2>
             <p>All the trips at WanderOn are managed end to end by our in-house operations team. 
               There are no third parties involved and hence no fishy claims. So when we say your travel plan is 100% our responsibility, we mean it.</p>
           </div>
     
           <div class="feature-box col-lg-3 col-sm-12 col-md-12">
             <i class=" icon ser fa-solid fa-magnifying-glass fa-4x"></i> 
             <h2>Transparency & Security</h2>
             <p>All the Itineraries are backed up by a strong ground team that monitors every route and condition real time. 
               This ensures transparency and solidifies the security measures for all our travelers.</p>
           </div>
     
           <div class="feature-box col-lg-3 col-sm-12 col-md-12">
             <i class=" icon ser fa-solid fa-shield-halved fa-4x"></i>
             <h2>Co-travellers Filtering</h2>
             <p>Group trips are fun when you have like-minded fellow travelers. 
               We assure that through a well-defined filtering process at all the stages, beginning from marketing, sales to operations.</p>
           </div>
     
           <div class="feature-box col-lg-3 col-sm-12 col-md-12">
             <i class="icon ser fa-solid fa-earth-asia fa-4x"></i>
             <h2>One stop hassle free experience</h2>
             <p>Our entire team puts rigorous efforts on ground to make sure your experience is a top notch one. 
               Awesome stays, friendly drivers, hospitable ground staff is ready to make your trip the most memorable for lifetime.</p>
           </div>
         </div>
       </div>
     </section>
     
     <!-- Call to Action -->
     
     
       <div class="container-fluid colored-section" id="cta" style="width: 100%">
         
         <h2 style="width: 100%;">Book Your First Trip Now.</h2>

         <div style="width: 100%;">
          <button class="button btn btn-lg btn-dark" type="button">Book Now</button>
         </div>
         
       </div>

</body>
  
      

  

<%- include("partial/footer") %> 