<%- include("partial/header") %> 

    <div class="herosection">
        
     <% $("herosection").style.backgroundImage = url("images/${tripName}.jpg"); %>
            
            <div>
                <h1><%= tripName  %> </h1>

            </div>
            <div class="row">
                <button class="button btn btn-lg btn-dark" type="button">Book Now</button>
                <button class="button btn btn-lg btn-dark" type="button">Book Now</button>
            </div>

    </div>

    <!-- Icons -->

    <div class="row" style="margin: 70px 0 0 0;" >
        <div class="feature-box col-lg-3 col-sm-3 col-md-3">
            <i class="fa-solid fa-calendar-days"></i>
          <p>Duration</p>
          <h3>5N</h3>
        </div>
  
        <div class="feature-box col-lg-4 col-sm-4 col-md-4">
          <i class="icon fa-regular fa-map fa-4x"></i>
          <p>120+ GROUP DEPARTURES</p>
        </div>
  
        <div class="feature-box col-lg-4 col-sm-4 col-md-4">
          <i class="icon fa-regular fa-heart fa-4x"></i>
          <p>2000 + HAPPY TRAVELLERS</p>
        </div>
    </div>



<%- include("partial/footer") %> 